In [1]:
import pandas as pd 
import seaborn as sns
import warnings

In [3]:
df = sns.load_dataset("iris")

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [19]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
X = df.iloc[:,:-1]
y = df.species

In [9]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=25)

In [24]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
23            5.1          3.3           1.7          0.5
35            5.0          3.2           1.2          0.2
16            5.4          3.9           1.3          0.4
0             5.1          3.5           1.4          0.2
8             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
118           7.7          2.6           6.9          2.3
61            5.9          3.0           4.2          1.5
143           6.8          3.2           5.9          2.3
62            6.0          2.2           4.0          1.0
132           6.4          2.8           5.6          2.2

[112 rows x 4 columns]

In [26]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

In [28]:
y_pred

array(['setosa', 'versicolor', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'setosa', 'virginica', 'setosa', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'virginica',
       'versicolor', 'virginica', 'virginica', 'setosa', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'setosa'], dtype=object)

In [30]:
y_test

28         setosa
72     versicolor
70     versicolor
85     versicolor
128     virginica
65     versicolor
127     virginica
42         setosa
81     versicolor
93     versicolor
21         setosa
31         setosa
26         setosa
133     virginica
6          setosa
58     versicolor
125     virginica
139     virginica
64     versicolor
94     versicolor
79     versicolor
99     versicolor
66     versicolor
20         setosa
34         setosa
117     virginica
69     versicolor
122     virginica
120     virginica
41         setosa
54     versicolor
113     virginica
135     virginica
4          setosa
115     virginica
52     versicolor
68     versicolor
40         setosa
Name: species, dtype: object

In [34]:
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,classification_report,f1_score

In [36]:
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[11  0  0]
 [ 0 15  1]
 [ 0  0 11]]

In [42]:
recall=recall_score(y_test,y_pred,average='weighted')
recall

0.9736842105263158

In [44]:
precision=precision_score(y_test,y_pred,average='weighted')
precision

0.975877192982456

In [46]:
f1score=f1_score(y_test,y_pred,average='weighted')
f1score

0.973831844688861

In [48]:
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        11
  versicolor       1.00      0.94      0.97        16
   virginica       0.92      1.00      0.96        11

    accuracy                           0.97        38
   macro avg       0.97      0.98      0.97        38
weighted avg       0.98      0.97      0.97        38